.class1 {text-align: center; background-color: orange; color: blue}
.class2 {text-align: center}
h1 {text-align: center}
h3 {color: blue}
#idlink {text-align: center; background-color: orange; color: purple}
a {text-align: center; color: purple}
.class3 {text-align: center}
